*{
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
li {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 1px solid #000;
  margin-right: 10px;
  margin-bottom: 10px;
}
